openapi: 3.0.0
info:
  contact:
    url: https://github.com/JohanBoer/Haal-Centraal-BRP-Update-API
  description: |
    Met deze API kun je opvragen welke door jou gevolgde personen zijn gewijzigd in de BRP. Je kunt je abonneren op een persoon die je wilt volgen, en je kunt opvragen welke personen door jou worden gevolgd. Je kunt deze API gebruiken in combinatie met de BRP bevragen API, bijvoorbeeld om lokale kopiegegevens actueel te houden.

    Om lokale kopiegegevens actueel te houden kun je de volgende procedure volgen:
    1. Zet de volgindicatie.
    2. Vraag de persoonsgegevens op met de BRP Bevragen API.
    3. Vraag periodiek (bijvoorbeeld dagelijks) de wijzigingen op met GET /wijzigingen. Gebruik parameter "vanaf" met de datum dat de laatste/vorige keer wijzigingen waren gevraagd. Voor elk burgerservicenummer in de response "burgerservicenummers" vraag je de persoonsgegevens op met de BRP Bevragen API.
  license:
    name: "European Union Public License, version 1.2 (EUPL-1.2)"
    url: https://eupl.eu/1.2/nl/
  title: BRP Update API
  version: 1.0.0
servers:
- description: Haal Centraal proefomgeving
  url: https://www.haalcentraal.nl/haalcentraal/api/brpupdate
paths:
  /volgindicaties:
    get:
      description: |
        Vraag de actieve volgindicaties op van een abonnee. Levert geen volgindicaties met einddatum vandaag of in het verleden.
      operationId: get_volgindicaties
      security:
        - jwt: [ ]
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolgindicatieCollectie'
          description: OK
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      summary: Raadpleeg actieve volgindicaties
      tags:
      - Beheren volgindicaties
      x-openapi-router-controller: openapi_server.controllers.beheren_volgindicaties_controller
  /volgindicaties/{burgerservicenummer}:
    get:
      description: |
        Vraag een volgindicatie op van een specifieke persoon.
      operationId: get_volgindicatie
      security:
        - jwt: [ ]
      parameters:
      - description: "Identificerend gegeven van een ingeschreven natuurlijk persoon,\
          \ als bedoeld in artikel 1.1 van de Wet algemene bepalingen burgerservicenummer."
        explode: false
        in: path
        name: burgerservicenummer
        required: true
        schema:
          type: integer
          example: "555555021"
          maxLength: 9
          minLength: 9
          pattern: "^[0-9]*$"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolgindicatieRaadplegen'
          description: OK
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      summary: Raadpleeg een volgindicatie op een persoon
      tags:
      - Beheren volgindicaties
      x-openapi-router-controller: openapi_server.controllers.beheren_volgindicaties_controller
    put:
      description: |
        Plaats, wijzig of beëindig een volgindicatie op een specifieke persoon. Als je de persoon nog niet volgt, wordt een volgindicatie geplaatst. Als je de persoon al wel volgt, wordt de volgindicatie gewijzigd.
        Verwijder de einddatum van een volgindicatie door in de request body een leeg object { } te sturen.
        Beëindig een volgindicatie door een einddatum gelijk aan de datum van vandaag te sturen.
      operationId: upsert_volgindicatie
      security:
        - jwt: [ ]
      parameters:
      - description: "Identificerend gegeven van een ingeschreven natuurlijk persoon,\
          \ als bedoeld in artikel 1.1 van de Wet algemene bepalingen burgerservicenummer."
        explode: false
        in: path
        name: burgerservicenummer
        required: true
        schema:
          type: integer
          example: "555555021"
          maxLength: 9
          minLength: 9
          pattern: "^[0-9]*$"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              x-body-name: volgindicatie
              $ref: '#/components/schemas/Volgindicatie'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolgindicatieRaadplegen'
          description: Volgindicatie gewijzigd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "201":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/VolgindicatieRaadplegen'
          description: Volgindicatie toegevoegd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "415":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the
                  request is in a format not supported by the requested resource for
                  the requested method.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unsupported Media Type
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      summary: "Plaats, wijzig of beëindig een volgindicatie"
      tags:
      - Beheren volgindicaties
      x-openapi-router-controller: openapi_server.controllers.beheren_volgindicaties_controller
  /wijzigingen:
    get:
      description: |
        Vraag een lijst op met burgerservicenummers van personen met gewijzigde gegevens.
      operationId: get_gewijzigde_personen
      security:
        - jwt: [ ]
      parameters:
      - description: Alleen personen waarbij gegevens zijn gewijzigd op of na deze
          datum worden geleverd.
        explode: false
        in: query
        name: vanaf
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/GewijzigdePersonenHalCollectie'
          description: OK
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      summary: Raadpleeg personen met gewijzigde gegevens
      tags:
      - Raadplegen gewijzigde personen
      x-openapi-router-controller: openapi_server.controllers.raadplegen_gewijzigde_personen_controller
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      x-bearerInfoFunc: openapi_server.auth.decode_token
  headers:
    api_version:
      schema:
        description: Geeft een specifieke API-versie aan in de context van een specifieke
          aanroep.
        example: 1.0.0
        type: string
    warning:
      schema:
        description: "zie RFC 7234. In het geval een major versie wordt uitgefaseerd,\
          \ gebruiken we warn-code 299 (\"Miscellaneous Persistent Warning\") en het\
          \ API end-point (inclusief versienummer) als de warn-agent van de warning,\
          \ gevolgd door de warn-text met de human-readable waarschuwing"
        example: "299 https://service.../api/.../v1 \"Deze versie van de API is verouderd\
          \ en zal uit dienst worden genomen op 2018-02-01. Raadpleeg voor meer informatie\
          \ hier de documentatie: https://omgevingswet.../api/.../v1\"."
        type: string
  parameters:
    burgerservicenummer:
      description: "Identificerend gegeven van een ingeschreven natuurlijk persoon,\
        \ als bedoeld in artikel 1.1 van de Wet algemene bepalingen burgerservicenummer."
      explode: false
      in: path
      name: burgerservicenummer
      required: true
      schema:
        example: "555555021"
        maxLength: 9
        minLength: 9
        pattern: "^[0-9]*$"
      style: simple
  responses:
    "401":
      content:
        application/problem+json:
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
            title: Niet correct geauthenticeerd.
            status: 401
            detail: The request requires user authentication. The response MUST include
              a WWW-Authenticate header field (section 14.47) containing a challenge
              applicable to the requested resource.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: authentication
          schema:
            $ref: '#/components/schemas/Foutbericht'
      description: Unauthorized
      headers:
        api-version:
          $ref: '#/components/headers/api_version'
    "403":
      content:
        application/problem+json:
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
            title: U bent niet geautoriseerd voor deze operatie.
            status: 403
            detail: "The server understood the request, but is refusing to fulfill\
              \ it."
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: autorisation
          schema:
            $ref: '#/components/schemas/Foutbericht'
      description: Forbidden
      headers:
        api-version:
          $ref: '#/components/headers/api_version'
    "406":
      content:
        application/problem+json:
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
            title: Gevraagde contenttype wordt niet ondersteund.
            status: 406
            detail: The resource identified by the request is only capable of generating
              response entities which have content characteristics not acceptable
              according to thr accept headers sent in the request
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: notAcceptable
          schema:
            $ref: '#/components/schemas/Foutbericht'
      description: Not Acceptable
      headers:
        api-version:
          $ref: '#/components/headers/api_version'
    "500":
      content:
        application/problem+json:
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
            title: Interne server fout.
            status: 500
            detail: The server encountered an unexpected condition which prevented
              it from fulfilling the request.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: serverError
          schema:
            $ref: '#/components/schemas/Foutbericht'
      description: Internal Server Error
      headers:
        api-version:
          $ref: '#/components/headers/api_version'
    "503":
      content:
        application/problem+json:
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
            title: "Bronservice {bron} is tijdelijk niet beschikbaar."
            status: 503
            detail: The service is currently unable to handle the request due to a
              temporary overloading or maintenance of the server.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: notAvailable
          schema:
            $ref: '#/components/schemas/Foutbericht'
      description: Service Unavailable
      headers:
        api-version:
          $ref: '#/components/headers/api_version'
    default:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
      description: Er is een onverwachte fout opgetreden
      headers:
        api-version:
          $ref: '#/components/headers/api_version'
    "400":
      content:
        application/problem+json:
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
            title: Ten minste één parameter moet worden opgegeven.
            status: 400
            detail: The request could not be understood by the server due to malformed
              syntax. The client SHOULD NOT repeat the request without modification.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: paramsRequired
            invalidParams:
            - type: https://www.vng.nl/realisatie/api/validaties/integer
              name: verblijfplaats__huisnummer
              code: integer
              reason: Waarde is geen geldige integer.
          schema:
            $ref: '#/components/schemas/BadRequestFoutbericht'
      description: Bad Request
      headers:
        api-version:
          $ref: '#/components/headers/api_version'
    "404":
      content:
        application/problem+json:
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
            title: Opgevraagde resource bestaat niet.
            status: 404
            detail: The server has not found anything matching the Request-URI.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: notFound
          schema:
            $ref: '#/components/schemas/Foutbericht'
      description: Not Found
      headers:
        api-version:
          $ref: '#/components/headers/api_version'
    "415":
      content:
        application/problem+json:
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
            title: Unsupported Media Type
            status: 415
            detail: The server is refusing the request because the entity of the request
              is in a format not supported by the requested resource for the requested
              method.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: unsupported
          schema:
            $ref: '#/components/schemas/Foutbericht'
      description: Unsupported Media Type
      headers:
        api-version:
          $ref: '#/components/headers/api_version'
  schemas:
    VolgindicatieCollectie:
      example:
        volgindicaties:
        - burgerservicenummer: burgerservicenummer
          einddatum: 2000-01-23
          begindatum: 2000-01-23
        - burgerservicenummer: burgerservicenummer
          einddatum: 2000-01-23
          begindatum: 2000-01-23
      properties:
        volgindicaties:
          items:
            $ref: '#/components/schemas/VolgindicatieRaadplegen'
          title: volgindicaties
          type: array
      title: VolgindicatieCollectie
      type: object
    Volgindicatie:
      example:
        einddatum: 2000-01-23
      properties:
        einddatum:
          description: Datum vanaf wanneer de volgindicatie niet meer actief zal zijn.
          format: date
          title: einddatum
          type: string
      title: Volgindicatie
      type: object
    VolgindicatieRaadplegen:
      allOf:
      - $ref: '#/components/schemas/Volgindicatie'
      - properties:
          begindatum:
            description: Datum sinds wanneer de volgindicatie actief is.
            format: date
            type: string
          burgerservicenummer:
            description: "Identificerend gegeven van een ingeschreven natuurlijk persoon,\
              \ als bedoeld in artikel 1.1 van de Wet algemene bepalingen burgerservicenummer."
            type: string
      example:
        burgerservicenummer: burgerservicenummer
        einddatum: 2000-01-23
        begindatum: 2000-01-23
      title: VolgindicatieRaadplegen
    GewijzigdePersonenHalCollectie:
      properties:
        _links:
          $ref: '#/components/schemas/GewijzigdePersonenHalCollectionLinks'
        burgerservicenummers:
          items:
            description: "Identificerend gegeven van een ingeschreven natuurlijk persoon,\
              \ als bedoeld in artikel 1.1 van de Wet algemene bepalingen burgerservicenummer."
            example: "555555021"
            type: string
          title: burgerservicenummers
          type: array
      title: GewijzigdePersonenHalCollectie
      type: object
    GewijzigdePersonenHalCollectionLinks:
      properties:
        self:
          $ref: '#/components/schemas/HalLink'
        ingeschrevenPersoon:
          $ref: '#/components/schemas/HalLink'
      title: GewijzigdePersonenHalCollectionLinks
      type: object
    Foutbericht:
      description: "Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807)."
      properties:
        type:
          description: Link naar meer informatie over deze fout
          format: uri
          title: type
          type: string
        title:
          description: Beschrijving van de fout
          title: title
          type: string
        status:
          description: Http status code
          title: status
          type: integer
        detail:
          description: Details over de fout
          title: detail
          type: string
        instance:
          description: Uri van de aanroep die de fout heeft veroorzaakt
          format: uri
          title: instance
          type: string
        code:
          description: Systeemcode die het type fout aangeeft
          minLength: 1
          title: code
          type: string
      title: Foutbericht
      type: object
    BadRequestFoutbericht:
      allOf:
      - $ref: '#/components/schemas/Foutbericht'
      - properties:
          invalidParams:
            description: Foutmelding per fout in een parameter. Alle gevonden fouten
              worden één keer teruggemeld.
            items:
              $ref: '#/components/schemas/InvalidParams'
            type: array
        type: object
      title: BadRequestFoutbericht
    InvalidParams:
      description: Details over fouten in opgegeven parameters
      properties:
        type:
          example: "https://www.vng.nl/realisatie/api/{major-versie}/validaties/integer"
          format: uri
          title: type
          type: string
        name:
          description: Naam van de parameter
          example: verblijfplaats__huisnummer
          title: name
          type: string
        code:
          description: Systeemcode die het type fout aangeeft
          example: integer
          minLength: 1
          title: code
          type: string
        reason:
          description: Beschrijving van de fout op de parameterwaarde
          example: Waarde is geen geldige integer.
          title: reason
          type: string
      title: InvalidParams
      type: object
    HalLink:
      description: "De Link Object zoals gespecificeerd in https://tools.ietf.org/html/draft-kelly-json-hal-08#section-5;\
        \ Deze link kan als templated link worden aangeboden. [URI-templating is hier\
        \ beschreven](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/uri-templating.feature)."
      properties:
        href:
          example: "https://datapunt.voorbeeldgemeente.nl/api/v{major-versie}/resourcename/{resource-identificatie}"
          title: Href
          type: string
        templated:
          title: templated
          type: boolean
        title:
          description: Voor mens leesbaar label bij de link
          title: title
          type: string
      required:
      - href
      title: HalLink
      type: object
    Href:
      example: "https://datapunt.voorbeeldgemeente.nl/api/v{major-versie}/resourcename/{resource-identificatie}"
      title: Href
      type: string
